@font-face {
    font-style: normal;
    font-weight: 300;
    font-family: 'Mulish';
    src: url(../fonts/mulish-v11-latin-300.ttf);
} 
@font-face {
    font-style: normal;
    font-weight: 400;
    font-family: 'Mulish';
    src: url(../fonts/mulish-v11-latin-regular.ttf);
} 
@font-face {
    font-style: normal;
    font-weight: 700;
    font-family: 'Mulish';
    src: url(../fonts/mulish-v11-latin-700.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 30px;
}

.header {
    padding-top: 100px;
    padding-bottom: 100px;

}
.nav{
    display: flex;
    justify-content: space-between;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}
.list{
    display: flex;
    list-style: none;
}

.nav_a{
    text-decoration: none;
    margin-left: 40px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #1F1534;
    opacity: 0.5;
}
.nav_a1{
     text-decoration: none;
    
}
.home{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #000000;


    
}
.virtual{
    display: flex;
    justify-content: space-between;
    margin-top: 84px;


}

.sec1_h2{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: #000000;
    mix-blend-mode: normal;
    margin-top: 40px;
    margin-bottom: 25px;
    width: 450px;
}
.sec1_p{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 32px;
    color: #7D7987;
    mix-blend-mode: normal;
    width:465px;
    margin-bottom: 45px;
}
.button{
    width: 200px;
    height: 56px;
    background: #458FF6;
    border-radius: 55px;

}.consult{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 60px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.our{
    margin-top: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.button2{
    width: 200px;
    height: 56px;
    border: 2px solid #458FF6;
    border-radius: 55px;
    

}
.learn{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 60px;
    color: #458FF6;
    mix-blend-mode: normal;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;

}



.box{
    padding-top: 50px;
    padding-left: 36px;
    padding-right: 50px;
    border-radius: 20px;
    margin-bottom: 37px;
    margin-top: 78px;
    margin-left: 34px;
    width: 350px;
    height: 354px;
    background: #FFFFFF;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 20px;
}
.rectangle{
    width: 56px;
    height: 1.5px;
    background: #000000;
    border-radius: 10px;
    margin: 30px auto;
    
}

.service{
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    justify-content: center;
    align-items: center;
}
.sec2{
    text-align: center;
    width: 952px;
    margin: 0 auto;
}
.sec2_h2{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 56px;
    color: #000000;
    mix-blend-mode: normal;
}
.sec2_p{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #7D7987;
    mix-blend-mode: normal;
}
.box_h3{
    margin-top: 20px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 56px;
    color: #000000;
    mix-blend-mode: normal;
}
.box_p{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: #7D7987;
    mix-blend-mode: normal;
}
.leading{
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
}
.rectangle2{
    width: 56px;
    height: 2px;
    background: #000000;
    border-radius: 10px;
    margin: 30px 0;

}
.sec3_h2{
    margin-top: 68px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 56px;
    color: #000000;
    mix-blend-mode: normal;
    width: 480px;
}
.sec3_p{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7D7987;
    mix-blend-mode: normal;
    width: 450px;
    margin-bottom: 37px;
}

.download{
    display: flex;
    justify-content: space-between;
    margin-top: 230px;
}
.sec4_h2{
    width: 254px;
    margin-top: 20px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: #000000;
    mix-blend-mode: normal;
}
.sec4_p{
    width: 380px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7D7987;
    mix-blend-mode: normal;
    margin-bottom: 40px;
}
.download_svg{
    margin-left: 15px;
}

.customer{
    margin: 0 auto;
    margin-top: 250px;
    width: 1100px;
    height: 425px;
    background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
    border-radius: 24px;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 61px;


}
.customer_h2{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    

}
.rectangle3{
    width: 56px;
    height: 2px;
    background: #ffffff;
    border-radius: 10px;
    margin: 30px auto;
}
.customer_img{
    border-radius: 50%;
    border: 2px solid white;
}
.img{
    margin-left: 30px;
    vertical-align: middle;
    
}
.name{
    width: 184px;
    margin-top: 20px;
    margin-bottom: -10px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 48px;
    color: #FFFFFF;
    mix-blend-mode: normal;
}
.found{
    width: 119px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 48px;
    color: rgba(255, 255, 255, 0.85);
    mix-blend-mode: normal;
}
.blockquote{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.9);
    mix-blend-mode: normal;
}
.avtor{
    margin-left: 100px;
    width: 420px;

}
.cust_blok{
    margin-top: 70px;
    margin-left:130px ;
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    
}
.sec5{
    width: 522px;
    margin: 0 auto;
}
.arrow{
   margin: 45PX 450PX; 
}
.chek_h2{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 56px;
    color: #000000;
    mix-blend-mode: normal;
}
.sec6{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 220px;

}
.rectangle4{
    width: 56px;
    height: 2px;
    background: #000000;
    border-radius: 10px;
    margin: 30px 0;
    margin: 0 auto;
    margin-top: 26px;
}
.boxx{
    width: 350px;
    height: 512px;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 20px;
    margin-left: 34px;
    
}
.sec6_img{
    border-top-right-radius: 20px ;
    border-top-left-radius: 20px ;
}
.boxes{
    display: flex;
    margin-top: 72px;
    margin-bottom: 72px;
    
}
.sec6_h3{
    margin-left: 32px;
    margin-top: 24px;
    margin-bottom: 12px;
    width: 250px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 32px;
    color: #000000;
    mix-blend-mode: normal;
}
.sec6_p{
    margin-left: 33px;
    margin-bottom: 25px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: #7D7987;
    mix-blend-mode: normal;
}
.read{
    text-decoration: none;
    margin-left: 33px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 28px;
    color: #4089ED;
    mix-blend-mode: normal;

}
.read_svg{
    margin-left: 8px;
}

/* Footer */
.footer{
    margin-top: 200px;
    height: 432px;
    padding-top: 1px;
    background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
}
.section{
    display: flex;
    margin: 0 auto;
    margin-top: 120px;
    width: 1150px;
}
.foot{
    width: 400px;
    display: flex;flex-wrap: wrap;
}
.sect{
    width: 200px;
    margin-left: 100px;
}
.foot_h3{
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-left: 12px;
    margin-bottom: 30px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
    mix-blend-mode: normal;
}
.foot_p{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    mix-blend-mode: normal;
}
.foot_p1{
    margin-top: 30px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    mix-blend-mode: normal;
}
.sect_h4{
    text-decoration: none;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 60px;
    color: #FFFFFF;
    mix-blend-mode: normal;

}
.sect_p{
    text-decoration: none;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 38px;
    color: #FFFFFF;
    mix-blend-mode: normal;
}
