@font-face {
    font-style: normal;
    font-weight: 500;
    font-family: 'Rubik' , sans-serif;
    src: url(../fonts/rubik-v20-latin_cyrillic-500.ttf);
}
@font-face {
    font-style: normal;
    font-weight: 400;
    font-family: 'Rubik' , sans-serif;
    src: url(../fonts/rubik-v20-latin_cyrillic-regular.ttf);
}
@font-face {
    font-style: normal;
    font-weight: 700;
    font-family: 'Rubik' , sans-serif;
    src: url(../fonts/rubik-v20-latin_cyrillic-700.ttf);
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
  }

header {
    background-color: #f6f6f9;
    padding-top: 43px;
    width: 100%;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1240px;
}

/* Header */
.header_sec {
    display: flex;
    align-items: center;
}

.list {
    list-style: none;
    display: flex;
    margin-right: auto;
}

.items {
    font-family: 'Rubik';
    font-style: normal;
    color: #aaa2a2;
    display: flex;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    padding: 0px 30px;
}

.icons {
    color: #285193;
    padding: 0px 2px;
}
.poisk{
    width: 38px;
    height: 40px;
    background-color: white;
    border-radius: 5px;
    margin-right: 20px;
}
.ruu{
    border-radius: 18px;
    margin-right: 5px;
}

.join {
    background-color: #37AEE2;
    display: flex;
    text-align: center;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    border-radius: 5px;
    margin-left: 25px;
}

.join_tg {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #FFFFFF;
    height: 40px;
    width: 146px;
    border-radius: 5px;
}

.svg_tg {
    margin-right: 7px;
}
.nav_list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-top: 10px;
}
.nav_link {
    text-decoration: none;
    color: #515151;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 23px;
}
.nav {
    
    background-color: #FFFFFF;
    max-width: 1200px;
    height: 40px;
}
.nav_items + .nav_items{
    margin-left: 25px;

}

.banner {
    margin-top: 18px;
    margin-bottom: 25px;
}
.section1{
    display: flex;
    margin-top: 20px;
    background-color: #f6f6f9;
    width: 1200px;
    height: 133px;
    border-radius: 5px;
}
.sec1_list{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sec1_item1{
    display: flex;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    padding-right: 40px;
    padding-left: 70px;
    border-right: 2px solid #EB5569;    
}
.sec1_item2{
    display: flex;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #DB0000;
    padding-right: 40px;
    padding-left: 70px;
    border-right: 2px solid #F4CCD1;
}
.sec1_item3{
    display: flex;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #05B135;
    padding-right: 40px;
    padding-left: 70px;
    border-right: 2px solid #F4CCD1;
}
.sec1_item4{
    display: flex;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    padding-left: 70px;
    padding-right: 40px;
    color: #000000;
}
b{color: #000000;}
.sec1_img{
    vertical-align: middle;
    margin-right: 25px;
}
/* Footer */
footer{ 
    padding: 0;
    background-color: #295093;
}
.footer_sec1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    margin-top: 38px;
    padding-top: 18px;
    padding-bottom: 20px;
    border-bottom: 3px solid #133C82;;
}
.footer_img{
    margin-right: 260px;
}
.footer_tg{
    width: 132px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #295093;
    text-decoration: none;
    border-radius: 5px;
    background-color: white;
}

.footer_svg{
    margin-right: 6px;
}
.footer_sec2{
    display: inline-block;
    width: 360px;
    height: 121px;
    /* margin-left: 120px; */
    
    
}
.footet_sec_text1{

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}
.footer_p{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}
.footer_sec3{
    margin-left: 111px;
    width: 163;
    height: 106;
    display: inline-block;
    line-height: 25px;
    
}
.footer_sec4{
    width: 170px;
    height: 106;
    margin-left:115px ;
    display: inline-block;
    margin-bottom: 60px;
    line-height: 25px;
    
}
.footer_link{ 
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    text-decoration: none;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    
}
.footer_section2{
    display: flex;
    margin-top: 12px;
    max-width: 1200px;
    
}
.Global{
    max-width: 1200px;
}
.News1{

    width: 380px;
    margin-right: 20px;
}
.News1-1{
    margin-right: 20px;
    width: 380px;
    margin-bottom: 17px;
}

.news_p{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #202020;
}
time{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6B6D97;
    
}
.main2{
    max-width: 1200px;
    display: flex;
    align-items: center;
    margin-top: 15px;
    
}
.uvedom{
    margin-top: 35px;
    margin-bottom: 35px;
    width: 1200px;
    height: 91px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(239, 186, 84, 0.18);
    border-radius: 5px;

    
}
.uvedom svg{
    margin-left: 34px;
    margin-right:17px ;
}
.uvedom p{
    margin-right:290px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}
.uvedom a{
    width: 204px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
    background: linear-gradient(90deg, #FE5C28 0%, rgba(255, 139, 54, 0.9) 88.43%);
    border-radius: 5px;
}
.last_news{
     padding-top: 13px;
     width:800px ;
}
.last_news_1{
    margin-top: 15px;
    display: flex;
    width: 780px;
    height: 142px;
}
.last_news_1 div{
    margin-left: 19px;
}
.last_news_1 h3{
    font-family: 'Rubik';
    font-style: normal;
    font-size: 17px;
    line-height: 20px;
    color: #202020;
   
}
.last_news_1 p{
    margin-top: 8px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #434343;
}
.news_link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 211px;
    height: 42px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
    background: #295093;
    border-radius: 5px;
    margin: 20px auto;

}
.recomended{
    padding:20px;
    width: 386px;
    
}
.rec_div {
    height: 100px;
    margin-top: 6px;
    border-bottom: 4px solid #E4E4E4;
}
.rec_div p{
    margin-bottom: 11px;
}

.sections1{
    display: flex;
    max-width: 1200px;
    
}
.rec_img{
    margin-left: -20px;
}
.link_div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.download{
    max-width: 1200px;
    margin-left: 120px;
    display: flex;
    background-color: #F6F6F9;

}
.download_div{
    width: 526px;
    margin-top: 64px;
}
.download h3{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #295093;
    margin-bottom: 10px;
}
.download p{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;

    color: #333333;

}
.appstore{
    margin-top: 82px;
    margin-left: 20px;
}
.googleplay{
    margin-top: 82px;
    margin-left: 70px;
}
.til{ 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 64px;
    height: 40px;
    border-radius: 5px;
    
}
.poisk{
    width: 38px;
    height: 40px;
    background-color: white;
    border-radius: 5px;
    margin-right: 20px;
}
.ruu{
    border-radius: 18px;
    margin-right: 5px;
}